body {
    background-color: white;
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color:whitesmoke;
    width: 100%;
    height: 120px;
}

#logo {
    position:relative;
    display:inline-block;
    left:2%;
    top:15px;
    height: 100px;
    width: 250px;
}

#hole-title{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    position:relative;
    display: inline-block;
    left:34%;
    bottom: 32vh;
    color: rgb(80, 78, 78);
}

#logo-venues {
    position:relative;
    display:inline-block;
    left:2%;
    top:10px;
    height: 65px;
    width: 65px;
}
#avatar {
    position: relative;
    display: inline-block;
    left: 89%;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    bottom:15vh;
}

#sign-out{
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    left: 83.5%;
    padding: 5px 18px;
    border: none;
    text-decoration: none;
    background-color: #ffe521;
    bottom: 11vh;
    border: 1px solid  #ccc;
}

#sign-out:hover{
    background-color: #ff009e;
    color:white;
    cursor: pointer;
}

#button-venues {
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    left: 83.5%;
    padding: 4px 18px;
    border: none;
    text-decoration: none;
    background-color: #ff009e;
    bottom: 5.5vh;
    border: 1px solid  rgb(173, 173, 173);
    color:white;
}

#avatar-venues {
    position: relative;
    display: inline-block;
    left: 89%;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    bottom:9vh;
}

nav {
    position: relative;
    display: block;
    left:0;
    bottom: 70px;
}

#sede-name{
    background-color: #ffe923;
    position: relative;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 2px;
    bottom: 11vh;
    left: 8%;
    border: 1px solid #ccc;
}

select {
    border: none;
    position: relative;
    border-bottom: 2px solid lightblue;
    height: 30px;
    border-radius: 5px;
    bottom: 2vh;
}

#generationFilter {
    width: 20%;
}

#hour {
    width: 10%;
}
#section1 {
    height: 530px;
    width: 100%;
    background-color:white;
}

#linkers {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 60%;
    left: 20%;
    text-align: center;
    top: 100px;
}

a{
    display: block;
    position: relative;
    height: 45px;
    width: 280px;
    color: rgb(92, 92, 92);
    margin: 1%;
    left: 55%;
    border: 1px solid #ccc;
    text-decoration: none;
    bottom: 200px;
    border-radius: 4px;
    font-size: 25px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#arequipa {
    background-color: #56F89A;
    padding-top: 0;
}

#arequipa:hover{
    opacity: .60;
}

#lima {
    background-color: #56F89A;
    padding-top: 0; 
}

#lima:hover{
    opacity: .60;
}

#gdl {
    background-color: #56F89A;
    padding-top: 0;
}

#gdl:hover {
    opacity:.60;
}

#chile {
    background-color: #56F89A;
    padding-top: 0;
}

#chile:hover{
    opacity:.60;
}

#cdmx {
    background-color: #56F89A;
    padding-top: 0;
}

#cdmx:hover{
    opacity: .60;
}

#brazil {
    background-color:#56F89A;
    padding-top: 0;
}

#brazil:hover{
    opacity: .60;
}

#index-title {
    position: relative;
    display: inline-block;
    height: 80px;
    max-width: fit-content;
    right: 20%;
    font-size: 85px;
    color: rgb(100, 99, 99);
    top:180px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:#ffe923;
    height: 45px;
}

/* Estilo de los botones que son usados para abrir el contenido del tab */
.tab button {
    background-color: inherit;
    display: inline-block;
    position:relative;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    left: 60%;
    margin: 0px 5px;
    color: rgba(14, 14, 14, 0.829);
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
}

/* Cambia el color del fondo de los botones al pasar el mouse por encima */
.tab button:hover {
    background-color: #ffeeb9;
    border-radius: 10px;
}

/* crea un activo a la clase tracklink actual pinta de gris al boton cliqueado */
.tab button.active {
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
}

/* Style the tab content */
/* Estilo de los contenidos del los tabs */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
/*Se agrega grafica de pastel para porcentaje de activas e inactivas*/
#chart_div {
    position: relative;
    display: inline-block;
    bottom: 10vh;
    left:43%;
}
/*Se agrega estilo al titulo de las sedes*/
#all {
    font-family: 'Tajawal', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 60px;
    left:30%;
    color: rgb(100, 99, 99);
    bottom: 3vh;
}

#brackets {
    height: 100px;
    width: 120px;
    position: relative;
    display: inline-block;
    top:2vh;
}

#container-venue-Sede {
    font-family: "Kaffeesatz", sans-serif;
    font-size: 20px;
    text-align: center;
    width: 70%;
    position: relative;
    left: 15%;
    bottom: 10vh;
}

.container-venue-Sede {
    font-family: "Kaffeesatz", sans-serif;
    font-size: 20px;
    text-align: center;
    width: 70%;
    position: relative;
    left: 15%;
    bottom: 10vh;
}

.table {
    position: relative;
    left: 22%;
    text-align: center;
    top: 2vh;

}

#containerTable th {
    font-family: "Kaffeesatz", sans-serif;
    padding:10px 20px;
    margin: 3%;
    background-color:rgb(187, 186, 186);
}

#containerTable tr:nth-child(even) {
    background-color: rgb(226, 225, 225);
}



#main-brackets {
    height: 80px;
    width: 100px;
    position: relative;
    display: inline-block;
    right: 22%;
    top: 30vh;
}

#containerTable2{
    bottom: 10vh;
    width: 100%;
    position: relative;
    display: inline-block;
}
#title-list-inactive{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #ccc;
}

#AlumnasApproved-NotApproved{
    border: 3px solid rgb(153, 153, 153);
    width: 30%;
    height: 250px;
    display: inline-block;
    position: relative;
    font-family: "Kaffeesatz", sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    right: 10%;
    top: 35vh;
}

#AlumnasApproved-NotApproved h3 {
    background-color:  rgb(187, 186, 186);
}

.info-compair {
    border: 3px solid rgb(153, 153, 153);
    width: 30%;
    height: 250px;
    display: inline-block;
    position: relative;
    font-family: "Kaffeesatz", sans-serif;
    text-align: center;
    border-radius: 2px;
    top: 40vh;
}

.info-compair h3 {
    background-color: rgb(187, 186, 186);
    height: 100%;
    padding: 5px 0;
}

#AlumnasApproved-Tech {
    left: 20%;
}

#AlumnasApproved-Hse{
    left: 20%;
    
}
#top_x_div{
    position: relative;
    left: 33%;
    top: 40vh;
    width: 33%;
}


#percentSatisfaction{
    border: 3px solid rgb(187, 186, 186);
    width: 25%;
    height: 100px;
    display: inline-block;
    position: relative;
    font-family: "Kaffeesatz", sans-serif;
    text-align: center;
    border-radius: 2px;
    top: 60vh;
    left: 35%;
}

#percentSatisfaction>p{
    background-color: rgb(187, 186, 186);
    font-weight: bold;
}

#percentSatisfaction :nth-child(2){
    font-size: 20px;
}


.points-teachers{
    border: 3px solid rgb(153, 153, 153);
    width: 20%;
    height: 75px;
    display: inline-block;
    position: relative;
    font-family: "Kaffeesatz", sans-serif;
    text-align: center;
    border-radius: 2px;
    top: 80vh;
    left: 1%;
}
.points-teachers>h5{
    background-color: rgb(153, 153, 153);
}
.points-jedi{
    border: 3px solid rgb(153, 153, 153);
    width: 20%;
    height: 75px;
    display: inline-block;
    position: relative;
    font-family: "Kaffeesatz", sans-serif;
    text-align: center;
    border-radius: 2px;
    top:80vh;
    left: 5%;
}
.points-jedi>h5{
    background-color: rgb(153, 153, 153);
}

.points-jedi:nth-child(2) {
    background-color: rgb(153, 153, 153);
    font-size: 20px;
    font-weight: bold;
}




/**************************FORMATOS DE LOS PERFILES STUDENTS *************************/

.formatContainerAllProfile{
    border: 3px solid rgb(153, 153, 153);
    width: 70%;
    height: auto;
    display: inline-block;
    position: relative;
    font-family: "Kaffeesatz", sans-serif;
    text-align: left;
    border-radius: 2px;
    margin: 3%;
}
.formatProfileStudents{
    outline: 1px solid green;
    width:50%
}

.formatProfileSuperior{
    font-family: "Kaffeesatz", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    outline: 1px solid black;
    width:50%;
}  
.formatProfileInferior{
    font-family: "Kaffeesatz", sans-serif;
    outline: 1px solid red;
    width:50%;
}
.formatGraphicSprints{
    border: 3px solid rgb(153, 153, 153);
    width: 40%;
    display: inline-block;
    position:relative;
    left:500px;
    bottom: 400px;
    height: inherit;
    /*float: right;*/
    font-family: "Kaffeesatz", sans-serif;
    text-align: left;
    border-radius: 2px;
}
/*************************FORMATOS PERFILES LABORATORIAS***********************/
.formatContainerTeachers{
    border:1px solid black;
    margin:5%;
}

.formatcontainerJedis{
    border:1px solid black;
    margin:5%;
}

/***************************FORMATO DE LA VENTANA MODAL********************/
.format-modal{
    position: fixed; 
    width: 350px;
    height: 190px; 
    top:0;
    left: 0;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    border: #333333 3px solid; 
    background-color: #FAFAFA; 
    color: #000000; 
    display:none;
    overflow-y:scroll;
}

#active-studens{
    font-weight: bold;
    font-size: 20px;
}

/*Formato para el button de mostrar lista de alumnas inactivas*/
#show-window {
    border: none;
    padding: 10px;
    background-color: #ffe923;
    border-radius: 2px;
    bottom: 40vh;
    left: 36%;
    position: relative;
    display: inline-block;
}